USE [master]
GO
/****** Object:  Database [SilkroadProxy]    Script Date: 5/13/2024 11:24:16 AM ******/
CREATE DATABASE [SilkroadProxy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SilkroadProxy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SilkroadProxy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SilkroadProxy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SilkroadProxy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SilkroadProxy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SilkroadProxy]
GO
USE [SilkroadProxy]
GO
/****** Object:  Table [dbo].[_PlannedQuery]    Script Date: 5/13/2024 11:24:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PlannedQuery](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[DateToExecute] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
